:root{
    --main-color: #292929;
    --btn-color: #24292E;
    --icon-color: #6C757D;
}
button, 
button:active, 
button:focus, 
.btn{
    outline: none;
    border: none!important;
    border-radius: 0px!important;
    box-shadow: none!important;
    background-color: var(--main-color)!important;
    color:white!important;
}
.tooltip{
    margin-top:4px!important;
}
.tooltip .tooltip-inner{
    background:var(--icon-color);
    font-weight:bold;
    font-size: 12px;
}
.bs-tooltip-bottom .arrow::before {
    display:none;
}
a:hover{
    text-decoration: none!important;
}
body{
    background-color: #E9ECEF!important;
}
.firebaseui-list-item span{
    color: white!important;
}
